body {
  font-family: monospace;
  margin: 0;
}

svg {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}

.vote-button {
  cursor: pointer; 
  stroke-width: 2px;
  stroke: #fff;
}
.vote-button:hover {
   stroke: #ffc;
}
  
.votes text {
  cursor: pointer; 
  font-size: 12px;
  text-anchor: middle;
  fill: #fff;
  transition: font-size 500ms;
}

.votes text:hover, .vote-button:hover + text {
  font-size:20px;
}

.functions rect {
  fill: #bbb;
}

.functions text.scale {
  font-size: 18px;
  fill: #fff;
}

.log text.topval {
  font-size: 8px;
  fill: #ccc;
}
.functions text.label {
  font-size: 18px;
  fill: #444;
}